---
import Introduction from "../components/Introduction.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Facundo Bravo">
    <main>
        <Introduction></Introduction>
        <Projects></Projects>
    </main>
</Layout>

<style>
    main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
    }
</style>