---
import SocialMedia from "./SocialMedia.astro";
---

<section id="introduction_section">
    <div class="bg-tr bg"></div>
    <div class="bg-bl bg"></div>
    <div class="bg-br bg"></div>

    <article class="info">
        <h1>Hola<span>!</span> Soy Facundo Bravo<span>.</span></h1>
        <p>Desarrollador Web</p>
    </article>

    <SocialMedia />
</section>

<style>
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 920px;
        padding: 32px;
        position: relative;
    }

    .info {
        max-width: 973px;
        margin-left: 64px;
        display: flex;
        flex-direction: column;
        font-family: "Karla Variable", sans-serif;
        color: var(--black);
    }

    .info h1 {
        font-size: 128px;
        font-weight: 900;
    }

    .info h1 > span {
        color: var(--red);
    }

    .info > p {
        font-size: 32px;
        font-weight: 300;
    }

    .bg {
        z-index: -1;
        position: absolute;
    }

    .bg-tr {
        width: 1059px;
        height: 475px;
        rotate: 55deg;
        top: -230px;
        right: -440px;
        background-color: var(--red);
    }

    .bg-bl {
        width: 504px;
        height: 504px;
        border-radius: 100%;
        left: -268px;
        bottom: -200px;
        background-color: var(--red);
    }

    .bg-br {
        width: 606px;
        height: 606px;
        border-radius: 100%;
        right: -355px;
        bottom: -350px;
        border: 48px solid var(--red);
    }

    @media screen and (max-width: 1296px) {
        .info h1 {
            font-size: 96px;
        }

        .info {
            margin: 0;
        }

        .bg-bl {
            width: 350px;
            height: 350px;
            bottom: -150px;
            left: -200px;
        }

        .bg-br {
            width: 406px;
            height: 406px;
            bottom: -200px;
            right: -255px;
        }
    }

    @media screen and (max-width: 720px) {
        .info h1 {
            font-size: 64px;
        }

        .bg-tr {
            width: 859px;
            height: 375px;
        }

        .bg-bl {
            width: 250px;
            height: 250px;
            bottom: -110px;
            left: -120px;
        }

        .bg-br {
            width: 236px;
            height: 236px;
            bottom: -125px;
            right: -125px;
        }

        section {
            height: 620px;
            padding: 16px;
        }
    }
</style>
