<nav>
    <ul>
        <li id="nav_item_1" class="selected"><a href="#introduction_section">Inicio</a></li>
        <li id="nav_item_2"><a href="#projects_section">Proyectos</a></li>
        <li id="nav_item_3"><a href="">Habilidades</a></li>
        <li id="nav_item_4"><a href="">Sobre mí</a></li>
    </ul>
</nav>
<script type="module" src="/js/nav.js"></script>
<style>
    nav {
        width: 596px;
        z-index: 10;
        position: fixed;
        top: 32px;
        left: calc(50% - 298px);
        background-color: var(--black_transparent);
        border-radius: 999px;
        backdrop-filter: blur(16px);
    }

    nav > ul {
        font-family: "Kumbh Sans Variable", sans-serif;
        display: flex;
        padding: 12px;
        gap: 12px;
        list-style: none;
    }

    ul > li {
        padding: 12px 24px;
        border-radius: 999px;
    }

    li > a {
        text-decoration: none;
        color: var(--white);
        font-size: 20px;
        font-weight: 900;
    }

    .selected {
        background-color: var(--black_transparent);
        backdrop-filter: blur(16px);
    }
</style>
