<nav>
    <div id="active"></div>
    <a id="introduction_0" class="nav_item" href="#introduction_section"
        >Inicio</a
    >
    <a id="projects_1" class="nav_item" href="#projects_section">Proyectos</a>
    <a id="skills_2" class="nav_item" href="#skills_section">Habilidades</a>
    <a id="about_3" class="nav_item" href="#">Sobre mí</a>
</nav>

<script type="module" src="/js/nav.js"></script>

<style>
    nav {
        position: fixed;
        width: calc(100% - 24px);
        max-width: 596px;
        z-index: 10;
        top: 32px;
        left: calc(50% - 298px);
        background-color: var(--black_transparent);
        border-radius: 999px;
        backdrop-filter: blur(16px);
        font-family: "Kumbh Sans Variable", sans-serif;
        display: flex;
        padding: 12px;
        gap: 12px;
    }

    a {
        z-index: 5;
        text-decoration: none;
        color: var(--white);
        font-size: 20px;
        font-weight: 900;
        padding: 12px 24px;
    }

    #active {
        z-index: 4;
        position: absolute;
        top: 12px;
        left: 12px;
        width: 98.8px;
        height: 49px;
        border-radius: 999px;
        background-color: var(--black_transparent);
        backdrop-filter: blur(16px);
        transition: all 0.2s ease-in-out;
    }

    @media screen and (max-width: 720px) {
        nav {
            padding: 10px;
            gap: 0;
            left: 12px;
            top: 16px;
            justify-content: center;
        }

        a {
            font-size: 16px;
            font-weight: 700;
            padding: 8px 6px;
        }

        #active {
            display: none;
        }
    }
</style>
