---
interface Props {
    technology: string;
}

const { technology } = Astro.props;
---

<span class={technology.toLowerCase()}>{technology}</span>

<style>
    span {
        font-family: "Karla Variable", sans-serif;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 24px;
        border-radius: 9999px;
    }

    .typescript {
        background-color: #077ece;
        color: var(--white);
    }

    .javascript {
        background-color: #f8e026;
        color: var(--black);
    }

    .html {
        background-color: #e5532c;
        color: var(--white);
    }

    .css {
        background-color: #2267b4;
        color: var(--white);
    }

    .angular {
        background-color: #bb0130;
        color: var(--white);
    }

    .electronjs {
        background-color: #323440;
        color: #a0eaf7;
    }

    .sqlite {
        background-color: #95d8f5;
        color: #0a415f;
    }

    .nest {
        background-color: #e0234e;
        color: var(--white);
    }

    .tailwind {
        background-color: #44A8B3;
        color: var(--black);
    }

    @media screen and (max-width: 720px) {
        span {
            font-size: 14px;
            padding: 4px 12px;
        }
    }
</style>
