---
import type { Project } from "../types/Project";
import Card from "./Card.astro";

const projects: Project[] = [
    {
        title: "Biblioteca",
        description:
            "Aplicación de escritorio para la gestión de libros y préstamos de una biblioteca escolar",
        image: "imgs/biblioteca.webp",
        technologies: ["ElectronJS", "SQLite", "HTML", "CSS", "JavaScript"],
        links: [
            {
                type: "download",
                url: "https://drive.google.com/file/d/1_k3_Xy0gEy7ON7x7L1CZBhHDAltQc4YC/view?pli=1",
                img: "imgs/descargar.svg",
                content: "Descargar",
            },
            {
                type: "repo",
                url: "https://github.com/FacuBravo/biblioteca",
                img: "imgs/github.svg",
                content: "Código",
            },
        ],
        aspectRatio: "1/1",
    },
    {
        title: "Shop Checkout",
        description: "Diseño para confirmación y pago de una compra online",
        image: "imgs/device_shop_checkout.webp",
        technologies: ["HTML", "CSS", "JavaScript"],
        links: [
            {
                type: "demo",
                url: "https://facubravo.github.io/Device-Shop-Checkout/html/index.html",
                img: "imgs/compartir.svg",
                content: "Demo",
            },
            {
                type: "repo",
                url: "https://github.com/FacuBravo/Device-Shop-Checkout",
                img: "imgs/github.svg",
                content: "Código",
            },
        ],
        aspectRatio: "4/3",
    },
    {
        title: "My Task Board",
        description:
            "Un simple gestor de tareas que crea un nuevo tablero la primera vez que se entra",
        image: "imgs/my_task_board.webp",
        technologies: ["Angular", "HTML", "CSS", "TypeScript"],
        links: [
            {
                type: "demo",
                url: "https://my-task-board-eight.vercel.app/board",
                img: "imgs/compartir.svg",
                content: "Demo",
            },
            {
                type: "repo",
                url: "https://github.com/FacuBravo/MyTaskBoard",
                img: "imgs/github.svg",
                content: "Código",
            },
        ],
        aspectRatio: "4/3",
    },
    {
        title: "Word Scramble",
        description: "Juego de adivinar la palabra con las letras desordenadas",
        image: "imgs/word_scramble.webp",
        technologies: ["HTML", "CSS", "JavaScript"],
        links: [
            {
                type: "demo",
                url: "https://facubravo.github.io/javascript-word-scramble/index.html",
                img: "imgs/compartir.svg",
                content: "Demo",
            },
            {
                type: "repo",
                url: "https://github.com/FacuBravo/javascript-word-scramble",
                img: "imgs/github.svg",
                content: "Código",
            },
        ],
        aspectRatio: "16/9",
    },
    {
        title: "Pricing Table",
        description: "Diseño de tabla de precios y planes de una página",
        image: "imgs/pricing_table.webp",
        technologies: ["HTML", "CSS"],
        links: [
            {
                type: "demo",
                url: "https://facubravo.github.io/Pricing-Table/index.html",
                img: "imgs/compartir.svg",
                content: "Demo",
            },
            {
                type: "repo",
                url: "https://github.com/FacuBravo/MyTaskBoard",
                img: "imgs/github.svg",
                content: "Código",
            },
        ],
        aspectRatio: "4/3",
    },
];

const half = Math.floor(projects.length / 2);
const groups = [projects.slice(0, half), projects.slice(half)];
---

<section id="projects_section">
    <div class="bg bg-tl"></div>
    <div class="bg bg-tr"></div>

    <h1 class="projects__title">Proyectos</h1>
    <p class="projects__info">Click para ver información</p>

    <section class="projects">
        {
            groups.map((item) => (
                <article class="projects__project">
                    {item.map((p) => (
                        <Card project={p} />
                    ))}
                </article>
            ))
        }
    </section>

    <div class="separator"></div>
</section>

<style>
    #projects_section {
        z-index: 1;
        background-color: var(--black);
        color: var(--white);
        position: relative;
        overflow: hidden;
    }

    .projects__title {
        text-align: center;
        font-size: 236px;
        font-family: "Katibeh", system-ui;
    }

    .projects__info {
        text-align: center;
        font-size: 32px;
        font-weight: 300;
        margin-top: 16px;
        font-family: "Karla Variable", sans-serif;
    }

    .bg {
        position: absolute;
        z-index: 0;
    }

    .bg-tl {
        width: 504px;
        height: 504px;
        border-radius: 100%;
        background-color: var(--white);
        left: -268px;
        top: -304px;
    }

    .bg-tr {
        width: 606px;
        height: 606px;
        border-radius: 100%;
        border: 48px solid var(--white);
        top: -256px;
        right: -355px;
    }

    .projects {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 44px;
        padding: 88px 24px 300px 24px;
    }

    .projects__project {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    .separator {
        width: 110%;
        height: 300px;
        background-color: var(--white);
        rotate: -5deg;
        position: absolute;
        bottom: -180px;
        left: 0;
    }

    @media screen and (min-width: 1296px) {
        .projects__info {
            display: none;
        }
    }

    @media screen and (max-width: 1296px) {
        .projects__title {
            font-size: 160px;
        }

        .bg-tl {
            width: 350px;
            height: 350px;
            top: -204px;
            left: -200px;
        }

        .bg-tr {
            width: 406px;
            height: 406px;
            top: -210px;
            right: -255px;
        }
    }

    @media screen and (max-width: 1132px) {
        .projects {
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width: 720px) {
        .projects__title {
            font-size: 64px;
            margin-top: 64px;
        }

        .projects__info {
            font-size: 16px;
            margin-top: 8px;
        }

        .bg-tl {
            width: 250px;
            height: 250px;
            top: -145px;
            left: -120px;
        }

        .bg-tr {
            width: 236px;
            height: 236px;
            top: -115px;
            right: -125px;
        }

        .projects {
            padding-top: 32px;
            padding-bottom: 64px;
        }

        .separator {
            height: 120px;
            rotate: -5deg;
            bottom: -100px;
        }
    }
</style>
