<ul>
    <li>
        <a href="https://github.com/FacuBravo" target="_blank">
            <img src="../src/assets/imgs/github.svg" alt="Logo GitHub" />
        </a>
        <span>GitHub</span>
    </li>
    <li>
        <a href="https://mail.google.com/mail/u/0/#inbox?compose=jrjtXSpwxXMwVLJNWsSFCWFdxVvlGjxlLqMxgrJFwgsjXfmFljzPDgllRJLrDcjwGcqdhWXx" target="_blank">
            <img src="../src/assets/imgs/gmail.svg" alt="Logo Gmail" />
        </a>
        <span>Gmail</span>
    </li>
    <li>
        <a href="https://wa.me/2494673715" target="_blank">
            <img src="../src/assets/imgs/whatsapp.svg" alt="Logo Whatsapp" />
        </a>
        <span>Whatsapp</span>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/facubravo" target="_blank">
            <img src="../src/assets/imgs/linkedin.svg" alt="Logo Linkedin" />
        </a>
        <span>Linkedin</span>
    </li>
</ul>

<style>
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 20px;
        border-radius: 999px;
        background-color: var(--black);
    }

    li {
        position: relative;
    }

    li > span {
        position: absolute;
        top: calc(50% - 22px);
        right: calc(100% + 36px);
        background-color: var(--black);
        color: var(--white);
        font-family: "Karla Variable", sans-serif;
        font-size: 20px;
        padding: 12px 32px;
        border-radius: 9999px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(16px);
        transition:
            opacity 0.2s linear,
            visibility 0.2s linear,
            transform 0.2s linear;
    }

    li > span::before {
        content: "";
        position: absolute;
        background-color: var(--black);
        height: 20px;
        width: 20px;
        top: calc(50% - 10px);
        rotate: 45deg;
        right: -4px;
    }

    a:hover + span {
        opacity: 1;
        visibility: visible;
        transform: unset;
    }

    img {
        width: 40px;
        height: 40px;
        transition: transform 0.2s linear;
    }

    img:hover {
        transform: scale(1.1);
        transform: translateX(-2px);
    }
</style>
