<ul>
    <li>
        <img src="../src/assets/imgs/github.svg" alt="Logo GitHub" />
        <span>GitHub</span>
    </li>
    <li>
        <img src="../src/assets/imgs/gmail.svg" alt="Logo Gmail" />
        <span>Gmail</span>
    </li>
    <li>
        <img src="../src/assets/imgs/whatsapp.svg" alt="Logo Whatsapp" />
        <span>Whatsapp</span>
    </li>
    <li>
        <img src="../src/assets/imgs/linkedin.svg" alt="Logo Linkedin" />
        <span>Linkedin</span>
    </li>
</ul>

<style>
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 20px;
        border-radius: 999px;
        background-color: var(--black);
    }

    li {
        position: relative;
    }

    li > span {
        position: absolute;
        top: 0;
    }
</style>
